In [40]:
import pandas as pd
import numpy as np
import acquire
print('Done!')

Done!

In [41]:
df=acquire.load_zillow_data()
df.head()

C:\Users\anthony\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (69) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,buildingclasstypeid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,parcelid.1,logerror,transactiondate.1,airconditioningdesc,architecturalstyledesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,buildingclassdesc
0,NaN,NaN,NaN,261.0,NaN,NaN,NaN,14297519,1727539,NaN,...,14297519,0.025595,2017-01-01,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
1,NaN,NaN,NaN,261.0,NaN,NaN,NaN,17052889,1387261,NaN,...,17052889,0.055619,2017-01-01,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
2,NaN,NaN,NaN,261.0,NaN,NaN,NaN,14186244,11677,NaN,...,14186244,0.005383,2017-01-01,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
3,NaN,NaN,NaN,261.0,2.0,NaN,NaN,12177905,2288172,NaN,...,12177905,-0.103410,2017-01-01,NaN,NaN,Central,Single Family Residential,NaN,NaN,NaN
4,NaN,NaN,NaN,266.0,2.0,NaN,1.0,10887214,1970746,NaN,...,10887214,0.006940,2017-01-01,Central,NaN,Central,Condominium,NaN,NaN,NaN

In [42]:
def columns_data(df):
    columns_data = pd.concat([pd.Series(df.isnull().sum()), pd.Series(df.isnull().sum()/df.shape[0])], axis=1)
    columns_data.reset_index(inplace = True)
    columns_data.columns=(['columns', 'num_rows_missing', 'pct_rows_missing'])
    return columns_data

columns_data(df)

                   columns  num_rows_missing  pct_rows_missing
0      buildingclasstypeid             77366          0.999806
1   typeconstructiontypeid             77159          0.997131
2              storytypeid             77331          0.999354
3    propertylandusetypeid                 0          0.000000
4    heatingorsystemtypeid             27941          0.361083
..                     ...               ...               ...
65     heatingorsystemdesc             27941          0.361083
66     propertylandusedesc                 0          0.000000
67               storydesc             77331          0.999354
68    typeconstructiondesc             77159          0.997131
69       buildingclassdesc             77366          0.999806

[70 rows x 3 columns]

In [43]:
counts = pd.DataFrame(df.isnull().sum(axis=1).value_counts().sort_values())
counts.reset_index(inplace = True)
counts.columns = ['num_cols_missing', 'num_rows']
counts['pct_cols_missing'] = counts['num_cols_missing']/df.shape[1]
counts = counts.sort_values('num_cols_missing').reset_index(drop= True)
counts

    num_cols_missing  num_rows  pct_cols_missing
0                 23         2          0.328571
1                 24        13          0.342857
2                 25        24          0.357143
3                 26        65          0.371429
4                 27       316          0.385714
5                 28       455          0.400000
6                 29      5270          0.414286
7                 30      3455          0.428571
8                 31      9891          0.442857
9                 32     12579          0.457143
10                33     14782          0.471429
11                34     13327          0.485714
12                35      5148          0.500000
13                36      5775          0.514286
14                37      3620          0.528571
15                38      1925          0.542857
16                39       285          0.557143
17                40       230          0.571429
18                41        29          0.585714
19                42        23          0.600000
20                43        28          0.614286
21                44        78          0.628571
22                45        50          0.642857
23                46         5          0.657143
24                47         3          0.671429
25                48         3          0.685714

In [44]:
def summarize(df):
    print(f"INFO \n {df.info} \n")
    print(f"DESCRIPTION\n {df.describe()} \n")
    print(f"SHAPE \n {df.shape} \n")
    
summarize(df)

INFO
 <bound method DataFrame.info of        buildingclasstypeid  typeconstructiontypeid  storytypeid  \
0                      NaN                     NaN          NaN
1                      NaN                     NaN          NaN
2                      NaN                     NaN          NaN
3                      NaN                     NaN          NaN
4                      NaN                     NaN          NaN
...                    ...                     ...          ...
77376                  NaN                     NaN          NaN
77377                  NaN                     NaN          NaN
77378                  NaN                     NaN          NaN
77379                  NaN                     NaN          NaN
77380                  NaN                     NaN          NaN

       propertylandusetypeid  heatingorsystemtypeid  architecturalstyletypeid  \
0                      261.0                    NaN                       NaN
1                      261.0                    NaN                       NaN
2                      261.0                    NaN                       NaN
3                      261.0                    2.0                       NaN
4                      266.0                    2.0                       NaN
...                      ...                    ...                       ...
77376                  261.0                    2.0                       NaN
77377                  261.0                    NaN                       NaN
77378                  261.0                    2.0                       NaN
77379                  261.0                    2.0                       NaN
77380                  261.0                    7.0                       NaN

       airconditioningtypeid  parcelid       id  basementsqft  ...  \
0                        NaN  14297519  1727539           NaN  ...
1                        NaN  17052889  1387261           NaN  ...
2                        NaN  14186244    11677           NaN  ...
3                        NaN  12177905  2288172           NaN  ...
4                        1.0  10887214  1970746           NaN  ...
...                      ...       ...      ...           ...  ...
77376                    NaN  11000655   673515           NaN  ...
77377                    NaN  17239384  2968375           NaN  ...
77378                    1.0  12773139  1843709           NaN  ...
77379                    NaN  12826780  1187175           NaN  ...
77380                    NaN  13083743  2455685           NaN  ...

       parcelid.1  logerror  transactiondate.1  airconditioningdesc  \
0        14297519  0.025595         2017-01-01                  NaN
1        17052889  0.055619         2017-01-01                  NaN
2        14186244  0.005383         2017-01-01                  NaN
3        12177905 -0.103410         2017-01-01                  NaN
4        10887214  0.006940         2017-01-01              Central
...           ...       ...                ...                  ...
77376    11000655  0.020615         2017-09-20                  NaN
77377    17239384  0.013209         2017-09-21                  NaN
77378    12773139  0.037129         2017-09-21              Central
77379    12826780  0.007204         2017-09-25                  NaN
77380    13083743 -0.197755         2018-05-25                  NaN

       architecturalstyledesc  heatingorsystemdesc        propertylandusedesc  \
0                         NaN                  NaN  Single Family Residential
1                         NaN                  NaN  Single Family Residential
2                         NaN                  NaN  Single Family Residential
3                         NaN              Central  Single Family Residential
4                         NaN              Central                Condominium
...                       ...                  ...                        ...
77376                     NaN              Central  Single Family Residential
77377                     NaN                  NaN  Single Family Residential
77378                     NaN              Central  Single Family Residential
77379                     NaN              Central  Single Family Residential
77380                     NaN           Floor/Wall  Single Family Residential

       storydesc  typeconstructiondesc  buildingclassdesc
0            NaN                   NaN                NaN
1            NaN                   NaN                NaN
2            NaN                   NaN                NaN
3            NaN                   NaN                NaN
4            NaN                   NaN                NaN
...          ...                   ...                ...
77376        NaN                   NaN                NaN
77377        NaN                   NaN                NaN
77378        NaN                   NaN                NaN
77379        NaN                   NaN                NaN
77380        NaN                   NaN                NaN

[77381 rows x 70 columns]>

DESCRIPTION
        buildingclasstypeid  typeconstructiontypeid  storytypeid  \
count            15.000000              222.000000         50.0
mean              3.933333                6.040541          7.0
std               0.258199                0.557285          0.0
min               3.000000                4.000000          7.0
25%               4.000000                6.000000          7.0
50%               4.000000                6.000000          7.0
75%               4.000000                6.000000          7.0
max               4.000000               13.000000          7.0

       propertylandusetypeid  heatingorsystemtypeid  architecturalstyletypeid  \
count           77381.000000           49440.000000                206.000000
mean              261.826340               3.920510                  7.388350
std                 5.141199               3.592779                  2.734542
min                31.000000               1.000000                  2.000000
25%               261.000000               2.000000                  7.000000
50%               261.000000               2.000000                  7.000000
75%               266.000000               7.000000                  7.000000
max               275.000000              24.000000                 21.000000

       airconditioningtypeid      parcelid            id  basementsqft  ...  \
count           24953.000000  7.738100e+04  7.738100e+04     50.000000  ...
mean                1.813289  1.300715e+07  1.495139e+06    679.720000  ...
std                 2.967894  3.481346e+06  8.609071e+05    689.703546  ...
min                 1.000000  1.071186e+07  3.490000e+02     38.000000  ...
25%                 1.000000  1.153830e+07  7.520700e+05    273.000000  ...
50%                 1.000000  1.253157e+07  1.497932e+06    515.000000  ...
75%                 1.000000  1.421183e+07  2.240535e+06    796.500000  ...
max                13.000000  1.676893e+08  2.982274e+06   3560.000000  ...

       fireplaceflag  structuretaxvaluedollarcnt  taxvaluedollarcnt  \
count          172.0                7.726900e+04       7.738000e+04
mean             1.0                1.893145e+05       4.901345e+05
std              0.0                2.300874e+05       6.534440e+05
min              1.0                4.400000e+01       1.000000e+03
25%              1.0                8.426500e+04       2.070000e+05
50%              1.0                1.364990e+05       3.589755e+05
75%              1.0                2.187870e+05       5.690015e+05
max              1.0                1.142179e+07       4.906124e+07

       assessmentyear  landtaxvaluedollarcnt      taxamount  \
count         77381.0           7.737900e+04   77376.000000
mean           2016.0           3.010954e+05    5995.532346
std               0.0           4.925960e+05    7622.844153
min            2016.0           1.610000e+02      19.920000
25%            2016.0           8.550400e+04    2715.632500
50%            2016.0           2.033720e+05    4450.695000
75%            2016.0           3.667965e+05    6927.790000
max            2016.0           4.895220e+07  586639.300000

       taxdelinquencyyear  censustractandblock    parcelid.1      logerror
count         2886.000000         7.713700e+04  7.738100e+04  77381.000000
mean            14.087318         6.049673e+13  1.300715e+07      0.016625
std              2.185663         1.535242e+12  3.481346e+06      0.170191
min              3.000000         6.037101e+13  1.071186e+07     -4.655420
25%             14.000000         6.037311e+13  1.153830e+07     -0.024377
50%             15.000000         6.037603e+13  1.253157e+07      0.006627
75%             15.000000         6.059042e+13  1.421183e+07      0.039203
max             99.000000         4.830301e+14  1.676893e+08      5.262999

[8 rows x 58 columns]

SHAPE
 (77381, 70)

In [45]:
def handle_missing_values(df, prop_required_column, prop_required_row):
    columns_to_keep = []
    columns = df.columns
    for col in columns:   
        if df[col].notnull().sum()/df.shape[0] >= prop_required_column:
            columns_to_keep.append(col)
    df = df[columns_to_keep]
    df['row_to_keep'] = df.notnull().sum(axis=1)/df.shape[1] >= prop_required_row
    df = df.loc[df['row_to_keep'] == True]
    df.drop(columns= ['row_to_keep'], inplace = True)
    return df

In [46]:
df1 = handle_missing_values(df, .7, .5)
df1.isnull().sum()

<ipython-input-45-6a752da0c502>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['row_to_keep'] = df.notnull().sum(axis=1)/df.shape[1] >= prop_required_row

propertylandusetypeid              0
parcelid                           0
id                                 0
bathroomcnt                        0
bedroomcnt                         0
calculatedbathnbr                609
calculatedfinishedsquarefeet     196
finishedsquarefeet12            3632
fips                               0
fullbathcnt                      609
latitude                           0
longitude                          0
lotsizesquarefeet               8239
propertycountylandusecode          0
rawcensustractandblock             0
regionidcity                    1471
regionidcounty                     0
regionidzip                       50
roomcnt                            0
yearbuilt                        263
structuretaxvaluedollarcnt       112
taxvaluedollarcnt                  1
assessmentyear                     0
landtaxvaluedollarcnt              2
taxamount                          5
censustractandblock              244
transactiondate                    0
parcelid.1                         0
logerror                           0
transactiondate.1                  0
propertylandusedesc                0
dtype: int64

In [47]:
print(df1.shape)
print(df.shape)

(77381, 31)
(77381, 70)

In [48]:
df1.isnull().sum()

propertylandusetypeid              0
parcelid                           0
id                                 0
bathroomcnt                        0
bedroomcnt                         0
calculatedbathnbr                609
calculatedfinishedsquarefeet     196
finishedsquarefeet12            3632
fips                               0
fullbathcnt                      609
latitude                           0
longitude                          0
lotsizesquarefeet               8239
propertycountylandusecode          0
rawcensustractandblock             0
regionidcity                    1471
regionidcounty                     0
regionidzip                       50
roomcnt                            0
yearbuilt                        263
structuretaxvaluedollarcnt       112
taxvaluedollarcnt                  1
assessmentyear                     0
landtaxvaluedollarcnt              2
taxamount                          5
censustractandblock              244
transactiondate                    0
parcelid.1                         0
logerror                           0
transactiondate.1                  0
propertylandusedesc                0
dtype: int64

In [49]:
df.columns

Index(['buildingclasstypeid', 'typeconstructiontypeid', 'storytypeid',
       'propertylandusetypeid', 'heatingorsystemtypeid',
       'architecturalstyletypeid', 'airconditioningtypeid', 'parcelid', 'id',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingqualitytypeid',
       'calculatedbathnbr', 'decktypeid', 'finishedfloor1squarefeet',
       'calculatedfinishedsquarefeet', 'finishedsquarefeet12',
       'finishedsquarefeet13', 'finishedsquarefeet15', 'finishedsquarefeet50',
       'finishedsquarefeet6', 'fips', 'fireplacecnt', 'fullbathcnt',
       'garagecarcnt', 'garagetotalsqft', 'hashottuborspa', 'latitude',
       'longitude', 'lotsizesquarefeet', 'poolcnt', 'poolsizesum',
       'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertyzoningdesc',
       'rawcensustractandblock', 'regionidcity', 'regionidcounty',
       'regionidneighborhood', 'regionidzip', 'roomcnt', 'threequarterbathnbr',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'transactiondate', 'parcelid.1', 'logerror',
       'transactiondate.1', 'airconditioningdesc', 'architecturalstyledesc',
       'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
       'typeconstructiondesc', 'buildingclassdesc'],
      dtype='object')

In [51]:
df.shape

(77381, 70)

In [38]:
df = df[df.propertylandusetypeid.isin([261, 262, 273])]
df.drop(columns = ['buildingclasstypeid', 'typeconstructiontypeid', 'storytypeid',
       'propertylandusetypeid', 'heatingorsystemtypeid',
       'architecturalstyletypeid', 'airconditioningtypeid', 'id', 'unitcnt'], inplace = True)
df.drop(columns = [c for c in df.columns if c.endswith('.1')], inplace = True)
df['has_basement'] = df['basementsqft'] > 0
df.replace({True:1, False:0}, inplace = True)
df