In [1]:
import pandas as pd
import numpy as np
import acquire
print('Done!')

Done!

In [2]:
df=acquire.load_zillow_data()
df.head()

C:\Users\anthony\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3263: DtypeWarning: Columns (69) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,buildingclasstypeid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,parcelid.1,logerror,transactiondate.1,airconditioningdesc,architecturalstyledesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc,buildingclassdesc
0,NaN,NaN,NaN,261.0,NaN,NaN,NaN,14297519,1727539,NaN,...,14297519,0.025595,2017-01-01,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
1,NaN,NaN,NaN,261.0,NaN,NaN,NaN,17052889,1387261,NaN,...,17052889,0.055619,2017-01-01,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
2,NaN,NaN,NaN,261.0,NaN,NaN,NaN,14186244,11677,NaN,...,14186244,0.005383,2017-01-01,NaN,NaN,NaN,Single Family Residential,NaN,NaN,NaN
3,NaN,NaN,NaN,261.0,2.0,NaN,NaN,12177905,2288172,NaN,...,12177905,-0.103410,2017-01-01,NaN,NaN,Central,Single Family Residential,NaN,NaN,NaN
4,NaN,NaN,NaN,266.0,2.0,NaN,1.0,10887214,1970746,NaN,...,10887214,0.006940,2017-01-01,Central,NaN,Central,Condominium,NaN,NaN,NaN

In [3]:
df.describe()

,buildingclasstypeid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,parcelid.1,logerror
count,15.000000,222.000000,50.0,77381.000000,49440.000000,206.000000,24953.000000,7.738100e+04,7.738100e+04,50.000000,...,172.0,7.726900e+04,7.738000e+04,77381.0,7.737900e+04,77376.000000,2886.000000,7.713700e+04,7.738100e+04,77381.000000
mean,3.933333,6.040541,7.0,261.826340,3.920510,7.388350,1.813289,1.300715e+07,1.495139e+06,679.720000,...,1.0,1.893145e+05,4.901345e+05,2016.0,3.010954e+05,5995.532346,14.087318,6.049673e+13,1.300715e+07,0.016625
std,0.258199,0.557285,0.0,5.141199,3.592779,2.734542,2.967894,3.481346e+06,8.609071e+05,689.703546,...,0.0,2.300874e+05,6.534440e+05,0.0,4.925960e+05,7622.844153,2.185663,1.535242e+12,3.481346e+06,0.170191
min,3.000000,4.000000,7.0,31.000000,1.000000,2.000000,1.000000,1.071186e+07,3.490000e+02,38.000000,...,1.0,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,1.071186e+07,-4.655420
25%,4.000000,6.000000,7.0,261.000000,2.000000,7.000000,1.000000,1.153830e+07,7.520700e+05,273.000000,...,1.0,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.632500,14.000000,6.037311e+13,1.153830e+07,-0.024377
50%,4.000000,6.000000,7.0,261.000000,2.000000,7.000000,1.000000,1.253157e+07,1.497932e+06,515.000000,...,1.0,1.364990e+05,3.589755e+05,2016.0,2.033720e+05,4450.695000,15.000000,6.037603e+13,1.253157e+07,0.006627
75%,4.000000,6.000000,7.0,266.000000,7.000000,7.000000,1.000000,1.421183e+07,2.240535e+06,796.500000,...,1.0,2.187870e+05,5.690015e+05,2016.0,3.667965e+05,6927.790000,15.000000,6.059042e+13,1.421183e+07,0.039203
max,4.000000,13.000000,7.0,275.000000,24.000000,21.000000,13.000000,1.676893e+08,2.982274e+06,3560.000000,...,1.0,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,1.676893e+08,5.262999

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   buildingclasstypeid           15 non-null     float64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77381 non-null  float64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         24953 non-null  float64
 7   parcelid                      77381 non-null  int64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  transactiondate               77381 non-null  object
 60  parcelid.1                    77381 non-null  int64
 61  logerror                      77381 non-null  float64
 62  transactiondate.1             77381 non-null  object
 63  airconditioningdesc           24953 non-null  object
 64  architecturalstyledesc        206 non-null    object
 65  heatingorsystemdesc           49440 non-null  object
 66  propertylandusedesc           77381 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          222 non-null    object
 69  buildingclassdesc             15 non-null     object
dtypes: float64(55), int64(3), object(12)
memory usage: 41.3+ MB

In [5]:
df.shape

(77381, 70)

In [6]:
test = pd.concat([pd.Series(df.isnull().sum()), pd.Series(round(df.isnull().sum()/df.shape[0]* 100, 2))], axis=1)
test.columns=(['num_rows_missing', 'pct_rows_missing'])
test

                        num_rows_missing  pct_rows_missing
buildingclasstypeid                77366             99.98
typeconstructiontypeid             77159             99.71
storytypeid                        77331             99.94
propertylandusetypeid                  0              0.00
heatingorsystemtypeid              27941             36.11
...                                  ...               ...
heatingorsystemdesc                27941             36.11
propertylandusedesc                    0              0.00
storydesc                          77331             99.94
typeconstructiondesc               77159             99.71
buildingclassdesc                  77366             99.98

[70 rows x 2 columns]

In [7]:
counts = pd.DataFrame(df.isnull().sum(axis=1).value_counts().sort_values())
counts.reset_index(inplace = True)
counts['pct_cols_missing'] = round(counts[0]/df.shape[0] * 100, 2)
counts.columns = ['num_cols_missing', 'num_rows', 'pct_cols_missing']
counts.sort_values('num_cols_missing')

    num_cols_missing  num_rows  pct_cols_missing
0                 23         2              0.00
4                 24        13              0.02
6                 25        24              0.03
10                26        65              0.08
14                27       316              0.41
15                28       455              0.59
20                29      5270              6.81
17                30      3455              4.46
22                31      9891             12.78
23                32     12579             16.26
25                33     14782             19.10
24                34     13327             17.22
19                35      5148              6.65
21                36      5775              7.46
18                37      3620              4.68
16                38      1925              2.49
13                39       285              0.37
12                40       230              0.30
8                 41        29              0.04
5                 42        23              0.03
7                 43        28              0.04
11                44        78              0.10
9                 45        50              0.06
3                 46         5              0.01
2                 47         3              0.00
1                 48         3              0.00